.modalPersonalizado {
    border-radius: 20px !important;
    background-color: $cream !important;
    color: #333 !important;
}

.modalTitle{
    color: $brown;
    font-family: "Pacifico", serif;
}

.modalNombre{
    color: $cinnamon;
}

.modalCaracteristicasTitle{
    color: $brown;
    margin-top: 20px;
}

.modalCaracteristicas{
    color: $cinnamon;
    font-size: 17px;
}